@{
    var approved = "";
    var readyforpickup = "";
    var cancelled = "";
    var orderTime = "";
    var all = "";

    switch (Model[0])
    {
        case "approved":
            approved = "active text-white bg-secondary";
            break;
        case "readyforpickup":
            readyforpickup = "active text-white bg-secondary";
            break;
        case "cancelled":
            cancelled = "active text-white bg-secondary";
            break;
        case "orderTime":
            orderTime = "active text-white bg-secondary";
            break;
        default:
            all = "active text-white bg-secondary";
            break;
    }
}
<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="approved">
    <li class="list-group-item @approved">Approved</li>
</a>
<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="readyforpickup">
    <li class="list-group-item @readyforpickup">Ready for Pikcup</li>
</a>
<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="cancelled">
    <li class="list-group-item @cancelled">Cancelled</li>
</a>
<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="all">
    <li class="list-group-item @all">All</li>
</a>
